h1
{
    color:red;
}

*
{
    padding:0;
    margin:0;
}

.login_form{
    padding: 30px 40px;
    
}

.login_form .font1{
    font-size:20px;
    color:blue;
}
.login_form .font2{
    font-size:20px;
    color:blue;
}
.login_form input
{
    height:40px;
    width:300px;
    padding:0 5px;
    font-size:20px;
    border:2px solid silver;
}
.login_form button{
    text-align:center;
    padding:10px 10px;
    font-size:15px;
    size:50px;
    color:blue;
    position:center;
    border-radius:10px;
    font-weight:bold;
    margin:auto;
    cursor: pointer;
}

.login_form #name_error,
.login_form #pass_error{
    
    margin-top:5px;
    width:300px;
    font-size:15px;
    color:red;
    background: rgba(245, 0, 0, 0.367);
    text-align:center;
    padding: 5px 8px;
    border-radius: 3px;
    border:1px solid #EF9A9A;
    display: none;
}