<!DOCTYPE html>
<html>
<head>
  {{>header}}
 
</head>
<body>
    {{>navbar}}

    
    <h1>Registration form</form></h1>
    <a href="/register">register as user</a><br>
    <a href="/registerowner">register as shopowner</a>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+08RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAis6JXm" crossorigin="anonymous"
    <link rel="stylesheet" href="css/style.css">
</body>

</html>


    